Package: com.huangc28.inappcollect
Name: inappcollect
Version: 0.1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Bryan Huang
Author: Bryan Huang
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
