Package: com.huangc28.testproj3
Name: testproj3
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Bryan Huang
Author: Bryan Huang
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
